{% extends 'base.html.twig' %}

{% block body %}

    <div class="context">
{#Carousel Slider#}
        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="https://www.numerama.com/content/uploads/2019/05/trou-noir-astronomie-univers-espace-1024x640.jpg}"></a>
            <a class="carousel-item" href="#two!"><img src="https://www.numerama.com/content/uploads/2019/05/radiotelescope-espace-astronomie-ciel-1024x640.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="https://phototheque.pasteur.fr/images/slideshow/image-1.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="http://img.over-blog-kiwi.com/0/93/22/56/20150118/ob_606c9f_pedagogie-par-l-image.jpg"></a>
        </div>

        <div class="row">
            <h1>Espace <span class="h1-span">Gambetta</span></h1>
        </div>
{#levels#}
        <div class="row border-bottom">
            <h3>2ème étage</h3>
            <div>
                <div class="col l4">
                    <p>ici la gauche</p>
                </div>
                <div class="col l4">
                    <ul class="icons">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <p>ici la droite</p>
                </div>
            </div>
        </div>

        <div class="row border-bottom">
            <h3>1er étage</h3>
            <div>
                <div class="col l4">
                    <p>Techno Santé</p>
                </div>
                <div class="col l4">
                    <ul class="icons">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <p>Cymbeline</p>
                </div>
            </div>
        </div>

        <div class="row border-bottom">
            <h3>Rez de chaussée</h3>
            <div>
                <div class="col l4">
                    <p>Orpi</p>
                    <p>ici la gauche</p>
                    <p>ici la gauche</p>
                    <p>ici la gauche</p>
                </div>
                <div class="col l4">
                    <p>Cymbeline</p>
                    <ul class="icons">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/chevrons.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <p>Keep Connection</p>
                    <p>Solucom</p>
                    <p>ici la droite</p>
                    <p>ici la droite</p>
                    <p>ici la droite</p>
                    <p>ici la droite</p>
                    <p>ici la droite</p>
                    <p>ici la droite</p>
                </div>
            </div>
        </div>

    </div>
{#CSS Animation#}
    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            duration: 2000,
        });

        setInterval(function () {
            $('.carousel.carousel-slider').carousel('next');
        }, 60000)
    </script>

{% endblock %}