{% extends 'base.html.twig' %}

{% block body %}

    <div class="context">

        <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="{{ asset('assets/pictures/local/logos/technosante.png') }}"></a>
            <a class="carousel-item" href="#two!"><img src="{{  asset('assets/pictures/local/logos/keeplogo.png') }}"></a>
            <a class="carousel-item" href="#three!"><img src="{{ asset('assets/pictures/local/logos/orpi.jpg') }}"></a>
            <a class="carousel-item" href="#four!"><img src="{{ asset('assets/pictures/local/logos/CY-un-Nom-pour-un-Oui.jpg') }}"></a>
        </div>

        <div class="row">
            <h1>Espace <span class="h1-span">Gambetta</span></h1>
        </div>

        <div class="row border-bottom">
            <h3>2ème étage</h3>
            <div>
                <div class="col l4">
                    <p>ici la gauche</p>
                </div>
                <div class="col l4">
                    <ul class="icons">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <p>ici la droite</p>
                </div>
            </div>
        </div>

        <div class="row border-bottom">
            <h4>1er étage</h4>
            <div>
                <div class="col l4">
                    <p>ici la gauche</p>
                </div>
                <div class="col l4">
                    <ul class="icons">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <p>ici la droite</p>
                </div>
            </div>
        </div>

        <div class="row border-bottom">
            <h4>Rez de chaussée</h4>
            <div>
                <div class="col l4">
                    <p>ici la gauche</p>
                </div>
                <div class="col l4">
                    <p>ici le centre</p>
                    <ul class="icons">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/chevrons.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <p>ici la droite</p>
                </div>
            </div>
        </div>

    </div>

    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            duration: 200,
        });

        setInterval(function () {
            $('.carousel.carousel-slider').carousel('next');
        }, 2000)
    </script>

{% endblock %}