{% extends 'layout.html.twig' %}

{% block body %}
{#levels#}

    {% for level in levels %}
        <div class="row border-bottom">
            <h3>{{ level.levelName }}</h3>
            <div>
                <div class="col l4">
                    <table class="table-text-color">
                        {% for society in societies %}
                            {% if (society.side.sideName == 'gauche') and (society.levels.levelName == level.levelName) %}
                                <tr class="tr-index">
                                <td class="td-index">
                                    <img src="{{ asset('assets/pictures/local/logos/technosante.png') }}" alt="" class="logo">
                                    {{ society.societyName }}
                                </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                <div class="col l4">
                    <ul class="icons li-underline">
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/previous.png') }}" alt="center" class="icon">
                        </li>
                        <li>
                            <img src="{{ asset('assets/pictures/local/back/next.png') }}" alt="right" class="icon">
                        </li>
                    </ul>
                </div>
                <div class="col l4">
                    <table class="table-text-color">
                        {% for society in societies %}
                            {% if (society.side.sideName == 'droite') and (society.levels.levelName == level.levelName) %}
                            <tr class="tr-index">
                                <td class="td-index">
                                    <img src="{{ asset('assets/pictures/local/logos/technosante.png') }}" alt="" class="logo">
                                    {{ society.societyName }}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}