{% extends 'layout.html.twig' %}

{% block body %}

        <h1>Liste des présentations</h1>

        <div class="container">

            <ul class="center">
                <li>
                    <a href="{{ path('carousel_new') }}"><h3>Ajouter un élément de présentation</h3></a>
                </li>
            </ul>

            <table class="table-text-color">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Texte</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for carousel in carousels %}
                    <tr>
                        <td>{{ carousel.id }}</td>
                        <td>{{ carousel.title }}</td>
                        <td>{{ carousel.text }}</td>
                        <td class="">
                            <ul>
                                <li>
                                    <a href="{{ path('carousel_edit', { 'id': carousel.id }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="center admin">
            <a href="{{ path('app_admin') }}" class="waves-effect waves-light btn-small">Retour</a>
        </div>

    </div>

{% endblock %}
