{% extends 'layout.html.twig' %}

{% block body %}
        <h1>Ajout d'une présentation</h1>

        <div class="container center">
            {{ form_start(form) }}
            <div>
                <h4>Titre</h4>
                {{ form_widget(form.title, {'attr': {'class': 'input-text-color'}} ) }}
            </div>
            <div>
                <h4>Texte</h4>
                {{ form_widget(form.text, {'attr': {'class': 'input-text-color textarea1'}} ) }}
            </div>
            <div>
               <table class="table-text-color">
                   <thead>
                       <tr>
                           <th>Média</th>
                           <th>Type du média</span></th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td>
                               {{ form_widget(form.media, { 'attr': {'class': 'media-input'}} ) }}
                           </td>
                           <td>
                               {{ form_label(form.type) }}
                               {{ form_widget(form.type, { 'attr': {'class': 'media-check'}} ) }}
                           </td>
                       </tr>
                   </tbody>
               </table>
            </div>

            <ul class="center spacing-div">
                <li>
                    <input type="submit" value="Enregistrer" class="submit" />
                    {{ form_end(form) }}
                </li>
                <li>
                    <a href="{{ path('carousel_index') }}"><h5>retour à la liste</h5></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.textarea1').val('New Text');
        M.textareaAutoResize($('.textarea1'));
    </script>
{% endblock %}