{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Modification d'une société</h1>

    <div class="container center">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form.societyName, {'attr': {'class': 'input-text-color'}} ) }}
        {{ form_widget(edit_form.levels, {'attr': {'type' : 'list', 'class': 'input-text-color'}} ) }}
        {{ form_widget(edit_form.side, {'attr': {'class': 'input-text-color'}} ) }}
        {{ form_widget(edit_form.media, { 'attr': {'class': 'media-input'}} ) }}
        <input type="submit" value="Enregistrer" class="submit" />
        {{ form_end(edit_form) }}

        <ul class="center">
            <li>
                <a href="{{ path('level_index') }}"><h5>retour à la liste</h5></a>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
{% endblock %}
