{% extends 'layout.html.twig' %}

{% block body %}
        <h1>Liste des sociétés</h1>

        <div class="container">

            <ul class="center">
                <li>
                    <a href="{{ path('society_new') }}"><h3>Ajouter une nouvelle société</h3></a>
                </li>
            </ul>

            <table class="table-text-color">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de la société</th>
                    <th>Etage</th>
                    <th>Direction</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for society in societies %}
                    <tr>
                        <td>{{ society.id }}</td>
                        <td>{{ society.societyName }}</td>
                        <td>{{ society.levels.levelName }}</td>
                        <td>{{ society.side.sideName }}</td>
                        <td class="">
                            <ul>
                                <li>
                                    <a href="{{ path('level_edit', { 'id': society.id }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
